<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="tab1">
      <ion-icon name="home">
        <ion-label>Home</ion-label>
      </ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
        <ion-icon name="images">
          <ion-label>Galery</ion-label>
        </ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="tab3">
          <ion-icon name="hammer">
            <ion-label>Setting</ion-label>
          </ion-icon>
        </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
